
mat-toolbar {
  background: #004a9f;
  color: white;
}


mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(62, 87, 227);
}

.info-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.info-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
}

.info-box h2 {
  text-align: center;
  color: #007bff;
}

.info-box p, .info-box ul {
  text-align: justify;
  margin-top: 10px;
}

.info-box ul {
  padding-left: 20px;
}


.info-box ul {
  padding-left: 20px;
}






body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #053c7a;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

section {
  padding: 20px;
}

section h2 {
  color: #4CAF50;
}

section p, section ul {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer h2 {
  color: #4CAF50;
}
