<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f3ecec;">


  <div class="row">
    <div class="col mb-3 mr-3">
      <mat-card class="inicio-card">
        <mat-card-header>
          <mat-card-title>Entrega rápida</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-xl-image src="../../../assets/images/imagen.jpg" alt="logo">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col mb-3 mr-3">
      <mat-card class="inicio-card">
        <mat-card-header>
          <mat-card-title>Reserva tu medicamento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-xl-image src="../../../assets/images/imagen3.jpg" alt="logo">
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3 mr-3">
      <mat-card class="inicio-card">
        <mat-card-header>
          <mat-card-title>Reclama sin filas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-xl-image src="../../../assets/images/imagen4.jpg" alt="logo">
        </mat-card-content>
      </mat-card>
    </div>

     <div class="col mb-3 mr-3">
      <mat-card class="inicio-card">
        <mat-card-header>
          <mat-card-title>Puntos de entrega</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-xl-image src="../../../assets/images/imagen2.jpg" alt="logo">
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
