<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f3ecec;">


  <div class="info-container">
    <div class="info-box">
      <section id="quienes_somos">
        <h2>¿Quiénes somos?</h2>
        <p>Somos una plataforma dedicada a proporcionar un acceso rápido y seguro a medicamentos y servicios de salud.</p>
      </section>
    </div>

    <div class="info-box">
      <section id="nuestros_servicios">
        <h2>Nuestros Servicios</h2>
        <ul>
          <li><strong>Dispensación de Medicamentos:</strong> Te ofrecemos consultar disponibilidad de tus medicamentos en puntos de entrega especificos</li>
          <li><strong>Puntos de Entrega:</strong> Ofrecemos múltiples puntos de entrega estratégicamente ubicados para que puedas recoger tus medicamentos de manera conveniente.</li>
          <li><strong>Reserva tu medicamento:</strong> En nuestra plataforma podrás identificar tu tiempo estimado desde tu ubicación y tu punto de entrega seleccionado.</li>
        </ul>
      </section>
    </div>

    <div class="info-box">
      <section id="por_que_elegirnos">
        <h2>¿Por qué elegirnos?</h2>
        <ul>
          <li><strong>Conveniencia:</strong> Con múltiples puntos de entrega y un proceso de pedido fácil, hacemos que obtener tus medicamentos sea rápido y sin complicaciones.</li>
          <li><strong>Seguridad:</strong> Cumplimos con los más altos estándares de seguridad y calidad en la dispensación de medicamentos.</li>
        </ul>
      </section>
    </div>

    <div class="info-box">
      <section id="nuestro_compromiso">
        <h2>Nuestro Compromiso con la Comunidad</h2>
        <p>Creemos en devolver a la comunidad y apoyar iniciativas de salud locales. Estamos comprometidos con la salud y el bienestar de nuestros clientes y de la comunidad en general.</p>
      </section>
    </div>
  </div>
</div>
