mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6eeee;
}


.form-container {
  max-width: 500px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: black; 
}

label {
  color: black; 

input, select {
  color: black; 
}

button {
  background-color: #004a9f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003b7a;
}

.autocomplete-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-option {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.autocomplete-option:hover {
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
  .content {
    margin: 8px;
    font-size: 1rem;
  }

  .form-container {
    padding: 8px;
    width: 100%; 
    box-sizing: border-box; 
  }

  button {
    width: 100%;
    margin-top: 8px;
  }
}}