.mat-toolbar {
  background: #0d67cf;
  color: #f3ecec;;
}

.mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #053c7a;
  color: #f3ecec;;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: rgb(62, 87, 227);
}

.mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: #ffffff;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.fixed-table {
  width: calc(100% - 48px);
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #f3f4f6;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}

td {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .content {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  th, td {
    display: block;
    width: 100%;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    margin-right: 5%;
    text-align: left;
  }

  td[data-label] {
    padding-left: 50%;
    position: relative;
  }
}
