<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f6eeee;">
    <div class="max-w-5xl mx-auto bg-white p-6 shadow-md rounded-md text-lg">
      <h2 class="text-xl font-semibold mb-4">Medicamentos Registrados</h2>
      
  
        <div class="table-responsive">
          <table class="w-full text-base">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-4 py-2 text-left font-light text-gray-700 uppercase tracking-wider">Nombre</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase tracking-wider">Cantidad</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase tracking-wider">Vencimiento</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase tracking-wider">Teléfono</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700 uppercase tracking-wider">Acciones</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let medicamento of medicamentosFiltrados | slice:(currentPage-1)*itemsPerPage:(currentPage)*itemsPerPage">
                <td class="px-4 py-2 whitespace-nowrap" data-label="Nombre">{{ medicamento.nombre }}</td>
                <td class="px-4 py-2 whitespace-nowrap" data-label="Cantidad">{{ medicamento.cantidad }}</td>
                <td class="px-4 py-2 whitespace-nowrap" data-label="Vencimiento">{{ medicamento.fechaVencimiento }}</td>
                <td class="px-4 py-2 whitespace-nowrap" data-label="Teléfono">{{ medicamento.telefono }}</td>
                <td class="px-4 py-2 whitespace-nowrap" data-label="Acciones">
                  <button class="bg-blue-600 text-white px-4 py-1 rounded-md text-sm" (click)="EliminarMedicamento(medicamento); EnviarCorreo(medicamento)">Reservar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="flex justify-between items-center mt-4">
            <button class="px-2 py-1 bg-gray-200 text-sm rounded-md mr-2" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
            <span class="text-sm">Página {{currentPage}} de {{totalPages}}</span>
            <button class="px-2 py-1 bg-gray-200 text-sm rounded-md" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
          </div>
          
          <button (click)="volverAMedicamentos()" class="bg-blue-600 text-white px-3 py-2 rounded-md text-sm mt-4 flex justify-center">
            Volver
          </button>