<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f6eeee;">
    <div class="max-w-7xl mx-auto bg-white p-6 shadow-md rounded-md">
    <h2 class="text-xl font-semibold mb-4">Medicamentos Registrados</h2>


    <table class="w-full divide-y divide-gray-200 text-lg">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left font-light text-gray-700 uppercase tracking-wider">Nombre</th>
          <th scope="col" class="px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Cantidad</th>
          <th scope="col" class="px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Fecha de vencimiento</th>
          <th scope="col" class="px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Telefono</th>
          <th scope="col" class="px-6 py-3 text-left font-medium text-gray-700 uppercase tracking-wider">Acciones</th>
          <th scope="col" class="relative px-6 py-3"></th>
        </tr>
      </thead>

  
      <tbody>
        <tr *ngFor="let medicamento of medicamentos">
          <td class="px-6 py-4 whitespace-nowrap">{{ medicamento.nombre }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ medicamento.cantidad }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ medicamento.fechaVencimiento }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ medicamento.telefono }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button class="bg-blue-600 text-white px-4 py-1 rounded-md text-sm" (click)="EliminarMedicamento(medicamento)">Reservado</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
