<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f6eeee;">
  <div class="max-w-md mx-auto bg-white p-10 shadow-md rounded-md" style="max-width: 500px;">
    <h2 class="text-xl font-semibold mb-4">Modificar medicamento</h2>
    <form>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nmedicamento">Medicamento:</label>
        <input class="w-full px-3 py-2 border rounded-md text-sm" type="text" id="nmedicamento" [(ngModel)]="nmedicamento" name="nmedicamento" disabled>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="cantidad">Cantidad:</label>
        <input class="w-full px-3 py-2 border rounded-md text-sm" type="text" id="cantidad" [(ngModel)]="cantidad" name="cantidad">
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="entidad">Entidad:</label>
        <input class="w-full px-3 py-2 border rounded-md text-sm" type="text" id="entidad" [(ngModel)]="entidad" name="entidad" disabled>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="ciudad">Ciudad:</label>
        <input class="w-full px-3 py-2 border rounded-md text-sm" type="text" id="ciudad" [(ngModel)]="ciudad" name="ciudad" disabled>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="direccion">Dirección:</label>
        <input class="w-full px-3 py-2 border rounded-md text-sm" type="text" id="direcciones" [(ngModel)]="direccionSeleccionada" name="direcciones" disabled>
      </div>

      <div class="flex justify-center">
        <button type="button" (click)="Modificar()" class="bg-blue-600 text-white px-10 py-1 rounded-md text-sm">Modificar</button>
      </div>

      <div *ngIf="mensajeDisponibilidad !== ''" class="text-blue-600 text-xs mt-2 flex justify-center">
        <p>{{ mensajeDisponibilidad }}</p>
      </div>
    </form>
  </div>
</div>
