<div class="content mat-elevation-z8" style="color: rgb(4, 4, 4); background-color: #f6eeee;">
  <div class="form-container">
    <h2>Registrar medicamento</h2>
    <form (ngSubmit)="addMedicament(Nombre, cantidad, entidad)">
      <div>
        <label for="medicamentoInput">Medicamento:</label>
        <input [(ngModel)]="nmedicamento" type="text" id="medicamentoInput" [formControl]="medicamentoControl">
        <div class="autocomplete-options" *ngIf="medicamentosFiltrados | async as filteredMedicamentos">
          <ul class="autocomplete-options">
            <li class="autocomplete-option" *ngFor="let medicamento of filteredMedicamentos" (click)="selectMedicamento(medicamento)">
              {{ medicamento.Nombre }}
            </li>
          </ul>
        </div>
      </div>
      <div>
        <label for="cantidad">Cantidad:</label>
        <input name="cantidad" [(ngModel)]="cantidad" type="number" id="cantidad">
      </div>
      <div>
        <label for="ciudad">Ciudad</label>
        <select name="ciudad" [(ngModel)]="ciudad" (change)="onChangeCiudad($event)">
          <option *ngFor="let ciudad of ciudades">{{ ciudad }}</option>
        </select>
      </div>
      <div>
        <label for="eps">EPS</label>
        <select name="eps" [(ngModel)]="eps" (change)="onChangeEPS(eps)">
          <option *ngFor="let eps of epsSeleccionada">{{ eps }}</option>
        </select>
      </div>
      <div>
        <label for="entidad">Entidad</label>
        <select id="entidad" name="entidad" [(ngModel)]="entidad" (change)="onChangeEntidad(entidad)">
          <option *ngFor="let entidad of entidades">{{ entidad }}</option>
        </select>
      </div>
      <div>
        <label for="direccion">Dirección</label>
        <select id="direccion" name="direccion" [(ngModel)]="direccionSeleccionada">
          <option *ngFor="let dir of direccionesFiltradas" [value]="dir">{{ dir }}</option>
        </select>
      </div>
      <div>
        <button type="submit">Registrar</button>
      </div>
    </form>
    <div id="mensaje" class="text-blue-600 text-xs mt-2" [class.hidden]="!mensaje">{{ mensaje }}</div>
  </div>
  </div>

